body {
    font-family: "Roboto", sans-serif;
    background: #FFFFFF;
    color: #434455;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.h1-text {
    color: var(--WHITE, #FFF);
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.h2h {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.045rem;
    text-align: center;
    line-height: 1.11;
    text-transform: capitalize;
}

.h3h {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.025rem;
}

.web {
    color: var(--IRIS, #4D5AE5);
    font-family: "Raleway", sans-serif;
    font-size: 1.17;
    font-weight: 700;
    line-height: 1.3125rem;
    letter-spacing: 0.03375rem;
    text-transform: uppercase;
}

.web:hover,
.web:focus {
    color: #404bbf;
}

.studio {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Raleway", sans-serif;
    font-size: 1.17;
    font-weight: 700;
    line-height: 1.3125rem;
    letter-spacing: 0.03375rem;
    text-transform: uppercase;
}

.menu li a {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
}

.contact {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.02em
}

.contact:hover,
.contact:focus {
    color: #404bbf;
}

.contact_block {
    font-style: normal;
}

/* end header*/

/** main **/

.preview {
    background: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
}

.button {
    font-size: 1rem;
    font-weight: 500;
    background: var(--IRIS, #4D5AE5);
    color: var(--WHITE, #FFF);
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

.inform-p {
    color: var(--SLATE, #434455);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    font-size: 16px;
}

.none {
    visibility: hidden;
}

.team {
    background-color: #F4F4FD
}

.team-li {
    background-color: #FFFFFF;
}

.footer {
    background: var(--NAVY-BLUE, #2E2F42);
}

.footer .studio {
    color: var(--CLOUD, #F4F4FD);
}

.p-footer {
    color: var(--CLOUD, #F4F4FD);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
}