body {
    font-family: Roboto;
    background: #FFFFFF;
    color: var(--NAVY-BLUE, #2E2F42);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    color: var(--SLATE, #434455);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
}

h1 {
    color: var(--WHITE, #FFF);
    font-size: 3.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.045rem;
    text-align: center;
}

h3 {
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.025rem;
}

.web {
    color: var(--IRIS, #4D5AE5);
    font-family: Raleway;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.3125rem;
    letter-spacing: 0.03375rem;
}

.studio {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: Raleway;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.3125rem;
    letter-spacing: 0.03375rem;
}

.menu li a {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
}

.contact a {
    color: var(--SLATE, #434455);
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.3125rem;
    letter-spacing: 0.03375rem;
}

/* end header*/

/** main **/

.preview {
    background: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
}

button {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    background: var(--IRIS, #4D5AE5);
    color: var(--WHITE, #FFF);
}

.inform li {
    width: 16.5rem;
}

.none {
    display: none;
}

footer {
    background: var(--NAVY-BLUE, #2E2F42);
}

footer .studio {
    color: var(--CLOUD, #F4F4FD);
}

footer p {
    color: var(--CLOUD, #F4F4FD);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
}